*{
  font-style: oblique;
  font-weight: 300;
  list-style: none;
}
#weather-widget{
  margin: 40px;
  width: 500px;
  height: 400px;
  border: 2px solid rgb(101, 97, 91);
  padding: 20px;
}

#hourly-weather{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h2selected {
  color: aqua;
}

#add-task{
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: 20px;
  width: 400px;
}

#add-input{
  color: antiquewhite;
  background-color:rgb(101, 97, 91) ;
  border-radius: 3px;
  border-style: none;
  box-shadow: none;
  text-shadow: none;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to top right, rgb(48, 46, 43), beige );
}
#ToDos-widget {
  margin-top: 40px;
  height: 350px;
  border: 2px solid gray;
}

button {
  border: 2px solid rgb(101, 97, 91);
  background-color: rgb(101, 97, 91);
  font-size: large;
  color:blanchedalmond;
  height: 30px;
  width: 70px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  border: 3px solid gray;
  padding: 20px;
  border-radius: 2px;
  margin: 10px;
  height: 50px;
}

.card-done {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  border: 3px solid gray;
  background-image: linear-gradient(to right, rgb(90, 235, 90), green);
  padding: 20px;
  border-radius: 2px;
  margin: 10px;
  height: 50px;
}

#cities {
  display: flex;
  justify-content: space-between;
}