@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-done {
        @apply flex bg-ternary p-3 border-2 border-ternary rounded my-3;
    }

    .btn {
        @apply flex p-3 border-2 border-secondary rounded my-3;
    }
}

input::placeholder {
    color: slategray;
}


